$auth_bg: #ffffff99;
$auth_form_bg: #ffffff;
$auth_form_bs: #0000000a;
$auth_form_title: #424242;
$auth_form_stroke: #000000;
$auth_field_stroke: #c9cacc;
$auth_field_error: #eb1717;
$auth_submit_bs: #00000026;
$auth_submit_gradient_1: #41522e;
$auth_submit_gradient_2: #be8022;