$auth_bg: #ffffff99;
$auth_form_bg: #ffffff;
$auth_form_bs: #0000000a;
$auth_form_title: #424242;
$auth_form_stroke: #000000;
$auth_field_stroke: #c9cacc;
$auth_field_error: #eb1717;
$auth_submit_text: #ffffff;
$auth_submit_bs: #00000026;
$auth_submit_gradient_1: #41522e;
$auth_submit_gradient_2: #be8022;

$header_bg: #F4F4F4;
$header_title: #424242;
$nav_link: #41522E;

$main_bg: #F4F4F4;

$components_bg: #ffffff;
$components_bs: #0000000a;

$search_field_stroke: #c9cacc;
$search_submit_text: #ffffff;
$search_submit_bs: #00000026;
$search_submit_gradient_1: #41522e;
$search_submit_gradient_2: #be8022;
$search_field_text: #424242;

$favorites_title: #424242;
$favorites_filter_stroke: #e5e5e5;
$favorites_filter_bg: #ffffff;
$favorites_filter_title: #99a0a3;
$favorites_filter_active:#41522E;
