.item {
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  height: 149px;
  width: 164px;
  max-height: 148px;
  max-height: 164px;
  &:not(:last-child) {
    margin-right: 12px;
  }
  &__img {
    border-radius: 10px;
    height: 149px;
    width: 164px;
    background-position: center;
  }
}
