@import "../../variable.scss";

.favorites {
  width: 100%;
  height: 472px;
  max-height: 472px;
  background: $components_bg;
  box-shadow: 0px 4px 33px $components_bs;
  border-radius: 16px;
  box-sizing: border-box;
  &__wrapper {
    padding: 32px 16px 32px 32px;
  }
  &__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: $favorites_title;
    margin-bottom: 32px;
  }
  &__list {
    width: 100%;
    height: 288px;
    max-height: 288px;
    overflow: auto;
    direction: ltr;
    scrollbar-width: thin;
    padding-right: 14px;
    box-sizing: border-box;
    &::-webkit-scrollbar {
      margin-left: 5px;
      width: 2px;
      border-radius: 2px;
    }
    &::-webkit-scrollbar-track {
      background-color: $components_scrollbar_track;
      border-radius: 2px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 2px;
      width: 2px;
      background-clip: content-box;
      background-color: $components_scrollbar_thumb;
    }
  }
}
.filters {
  &__list {
    display: flex;
    align-items: center;
  }
  &__wrapper {
    margin-bottom: 32px;
  }
}
.filter {
  &:first-child {
    margin-right: 8px;
  }
  &__button {
    border: 1px solid $favorites_filter_stroke;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: $favorites_filter_bg;
    padding: 4px 8px;
    display: flex;
    align-items: center;
    &_active {
      border: 1px solid $favorites_filter_active;
    }
  }
  &__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.408px;
    color: $favorites_filter_title;
    margin-right: 4px;
  }
  &_active {
    color: $favorites_filter_active;
  }
}
