@import "../../variable.scss";

.item {
  height: 100px;
  max-height: 100px;
  position: relative;
  &__wrapper {
    height: 99px;
    max-height: 99px;
    padding: 16px 16px 16px 0px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__main {
    display: flex;
    align-items: center;
  }
  &__line {
    position: absolute;
    background: $results_item_line;
    border-radius: 8px;
    transform: matrix(1, 0, 0, -1, 0, 0);
    height: 1px;
    width: 100%;
    bottom: 0px;
    left: 0px;
  }
  &__icon {
    margin-right: 24px;
    max-height: 64px;
    max-width: 64px;
  }
}
.info {
  &__wrapper {
    margin-bottom: 4px;
  }
  &__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 21px;
    letter-spacing: -0.408px;
    color: $results_item_title;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 350px;
  }
  &__checkInDate {
    display: flex;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.408px;
    color: $results_item_date;
  }
  &__dah {
    display: flex;
    align-items: center;
    margin: 0px 10px 0px 19px;
  }
  &__opinion {
    max-height: 17px;
  }
  &__star {
    &:not(:last-child) {
      margin-right: 3px;
    }
  }
}
.extra {
  height: 61px;
  width: 110px;
  max-height: 61px;
  max-height: 110px;
  position: relative;
  &__button {
    border: 0px;
    padding: 0px;
    background-color: transparent;
    position: absolute;
    top: 0px;
    right: 8px;
  }
  &__price {
    max-height: 21px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 22px;
    letter-spacing: -0.408px;
    color: $results_item_price;
  }
  &__priceValue {
    margin-left: 17px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 22px;
    text-align: right;
    letter-spacing: -0.408px;
    color: $results_item_price_value;
    white-space: nowrap;
  }
}
